.header {
  background-color: #1C2B35;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header img {
  cursor: pointer;
}

.menu a {
  text-decoration: none;
  font-size: large;
  color: white;
  padding: 10px;
}